<% provide(:class, "index") %>

    <section class="pain" role="listbox">
      <a class="#" role="option">1</a>
      <a class="#" role="option">2</a>
      <a class="#" role="option">3</a>
      <a class="#" role="option">4</a>
      <a class="#" role="option">5</a>
      <a class="#" role="option">6</a>
      <a class="#" role="option">7</a>
      <a class="#" role="option">8</a>
      <a class="#" role="option">9</a>
      <a class="#" role="option">10</a>
    </section>

    <section class="mood" role="listbox">
      <a class="#" role="option">1<img src="http://s.goose.im/emoji/emoji_u1f622.png"></a>
      <a class="#" role="option">2<img src="http://s.goose.im/emoji/emoji_u1f614.png"></a>
      <a class="#" role="option">3<img src="http://s.goose.im/emoji/emoji_u1f61b.png"></a>
      <a class="#" role="option">4<img src="http://s.goose.im/emoji/emoji_u1f610.png"></a>
      <a class="#" role="option">5<img src="http://s.goose.im/emoji/emoji_u1f603.png"></a>
      <a class="#" role="option">6<img src="http://s.goose.im/emoji/emoji_u1f60a.png"></a>
    </section>

    <section class="energy" role="listbox">
      <a class="#" role="option">1</a>
      <a class="#" role="option">2</a>
      <a class="#" role="option">3</a>
      <a class="#" role="option">4</a>
      <a class="#" role="option">5</a>
      <a class="#" role="option">6</a>
      <a class="#" role="option">7</a>
      <a class="#" role="option">8</a>
    </section>

    <section class="fog" role="listbox">
      <a class="#" role="option">1</a>
      <a class="#" role="option">2</a>
      <a class="#" role="option">3</a>
      <a class="#" role="option">4</a>
      <a class="#" role="option">5</a>
      <a class="#" role="option">6</a>
      <a class="#" role="option">7</a>
      <a class="#" role="option">8</a>
    </section>
    <p class="info"></p>

    <% if logged_in? %>
        <%= form_for(@entry) do |f| %>
            <a href="#" class="submit button">Save</a>
            <input type="text" class="note" placeholder="any notes?">
            <%= f.hidden_field :content %>
            <%= render 'shared/error_messages', object: f.object %>
        <% end %>
    <% end %>

    <article class="history">
        <% if logged_in? %>
            <%= render @entries %>
        <% else %>
            <%= link_to "Log in", login_path %> or <%= link_to "sign up", signup_path %> to save entries.
        <% end %>
    </article>

    <div class="alert" role="alert">
      <p>You're not done yet! Make sure to enter how you're feeling in all of the categories.</p>
      <p><a class="button" href="#">Ok</a></p>
    </div>
