<!-- by alex january 2015 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>mood</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body class="<%= yield(:class) %>">
    <header>
        <h1><%= link_to image_tag("http://s.goose.im/emoji/emoji_u1f30a.png"), root_url %></h1>
        <nav>
            <% if logged_in? %>
                <%= link_to "Log out", logout_path, method: "delete" %>
                <%= link_to "History", history_path %>
                <a>Hi, <%= current_user.username %></a>
            <% else %>
                <%= link_to "Log in", login_path %>
            <% end %>
        </nav>
    </header>

    <% flash.each do |message_type, message| %>
        <div class="flash flash-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>

</body>
</html>
